@page
@model Test.Me.Pages.Students.LoginModel
@{
    Layout = "_EmptyLayout";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Student Login</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group row">
                            <label for="Semail" class="col-sm-4 col-form-label text-black">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="Semail" name="Semail" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Spassword" class="col-sm-4 col-form-label text-black">Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="Spassword" name="Spassword" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                    <p class="mt-3 text-center">Don't have an account? <a href="/Students/Register">Register here</a></p>
                    <!-- Button to go to Teacher Login Page -->
                    <a href="/Teachers/Login" class="btn btn-secondary btn-block">Go to Teacher Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
